*{
    margin: 0;
    padding: 0;
}
body{
    background: #f3f3f3;
	font-family: 'poppins';
    font-weight: 700;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: blue;
    text-align: center;
    align-items: center;   
   }
   .menu-enlaces{
       width: 80%;
       flex-wrap: wrap;
       display: flex;
       justify-content: space-around;
       margin-right: 10%;
       margin-left: 10%;
       border-color: black;
   }
   .menu-enlaces a{
      color: white;
      padding: 10px;
      text-decoration: none;
      font-size: 25px;
   }
   .menu-enlaces a:hover{
       color: yellow;
       background-color: black;
   }
   .logo img {
       margin: 25px;
       width: 230px;
       height: 130px;
   }
   #imgcab{
       width: 100%;
   }

.sub-menu {
    list-style: none;
    text-align: left;
}
.menu li a {
    color: white;
    padding: 10px 20px;
    display: block;  
}
.sub-menu > li {
    float: left; 
}
.menu li a:hover {
    background-color: black;
    color: yellow;
}
.sub-menu li ul {
    display: none; 
    position: absolute; 
    list-style: none; 
    background-color: blue;
}
.menu li:hover > ul {
    display: block;  
}

.parrafo {
    margin: 30px;
}
h2 {
    margin-left: 10px;
}

h2 {
    margin-left: 30px;
}
.servi div{
    display: flex;
}
.servi ol {
    margin-left: 45px;
    width: 49%;
}
.servi ol li {
    margin-top: 20px;
}
.servi div ol ul {
    margin-left: 30px;
}

.video {
    width: 49%;
    margin-left: 2%;
    margin-right: 2%;
    height: 500px;
}

.monto {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
}
.monto input {
    margin-left: 38px;
    font-family: 'poppins';
    width: 13%;
}
.monto h4 {
    margin-left: 10px;
}


.cuota {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
}
.cuota input {
    margin-left: 20px;
    font-family: 'poppins';
    width: 13%;
}
.cuota h4 {
    margin-left: 10px;
}

.interes {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
}
.interes input {
    margin-left: 48px;
    width: 13%;
}
.interes h4 {
    margin-left: 10px;
}

.boton {
    margin-left: 220px;
    margin-bottom: 30px;
}
button{
    height: 30px;
    width: 13%;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-family: 'poppins';
    color: white;
}
button:hover{
    background: black;
    cursor:pointer;
    color: yellow;
}
.calculo1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
}
.calculo1 p {
    margin-left: 12px;
    width: 13%;
    font-family: 'poppins';
}
.calculo1 h4 {
    margin-left: 10px;
}
.calculo2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
}
.calculo2 p {
    margin-left: 61px;
    width: 13%;
    font-family: 'poppins';
}
.calculo2 h4 {
    margin-left: 10px;
}
.parrafopagos {
    margin-left: 45px;
    margin-top: 20px;
}
table {
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 30px;
    color: white;
}
table tr td {
    background-color: blue;
    padding: 20px;
}


footer{
    background-color: blue;
}
h3{
    color: white;
    padding-top: 30px;
    text-align: center;
}
.imgfoot {
    display: flex;
    margin-left: 38%;
}
.imgfoot img {
    width: 7%;
    padding-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imgfoot img:hover {
    transform: scale(1.2);
}